<h1>Electronic Patient Card</h1>

<p>
<%= link_to 'Patients', controller: 'patients' %>
</p>

<p>
<%= link_to 'Manage the data base of diseases ', controller: 'diseases' %>
</p>

<p>
<%= link_to 'Manage the data base of nurses ', controller: 'nurses' %>
</p>
