<h2>Appointment:</h2>

<p>
	<strong>Date:</strong>
	<%= @appointment.year.to_s+"/"+@appointment.month.to_s+"/"+@appointment.day.to_s+" "+@appointment.hour.to_s+":"+@appointment.minute.to_s %>
</p>

<%= link_to 'Back', medical_case_appointments_path %>
| <%= link_to 'Edit', edit_medical_case_appointment_path(@appointment.medical_case_id, @appointment) %>
